*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.back{
    background:url("pic/背景.jpg");
    position: fixed;
    margin: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: .1;
}
.one{
    background-color: brown;
   
}
.one a{
    color: aliceblue !important;
}
.about-total{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;

}
.about{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    border: 2px solid brown;
    position: relative;
    padding-top: 100px;
}
.about-card{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}
.about-title{
    width: 100%;
    max-width: 230px;
    position:relative;
    top: -130px;
    left:40%;
    background-color:#fefdfb;
    border: 2px solid brown;
    text-align: center;
    font-size: 20px;
    color: #b98e51;
    padding: 10px 20px;   
    border-radius: 5px;
}
.about-title img{
    width: 100%;
}
.about-first{
    width: 100%;
    max-width: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 40px;
    text-align: center;
    color: #b98e51;;
}
.about-first h2{
    font-size: 60px;
    padding: 10px;
    font-weight: 100;
    
}
.about-first strong{
    font-size: 90px;
    font-family: Comic Sans MS

}
.about-active{
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-pic{
    transform: translateX(35%);
    width: 100%;
    margin-bottom: 30px;
}

.about-pic img{
    width: 100%;
    object-fit: cover;
}
.about-txt{
    width: 100%;
    transform: translateX(10%);
    display: flex;
    justify-content: flex-end;
    line-height: 2;
}
.about-txt p{
    letter-spacing: 5px;
}

/* ==========================第一層設定 */
.about-card:nth-of-type(3){
    align-items: center;
    text-align: right;
    justify-content: flex-start;
}
.about-card:nth-of-type(3) .about-pic{
    transform: translateX(-15%);
}
.about-card:nth-of-type(3) .about-txt{
    transform: translateX(-15%);
}
.about-card:nth-of-type(3) .about-first{
   position: relative;
   right: 80px;
}
/* ==========================第二層設定 */
.about-card:nth-of-type(4){
    display: flex;
    justify-content: flex-end;
}
.about-card:nth-of-type(4) .about-pic{
    transform: translateX(25%);
}
.about-card:nth-of-type(4) .about-txt{
    transform: translateX(-15%);
}

/* ==========================第三層設定 */
.information-total{
    padding-top: 100px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.information-title{
    text-align: center;
}
.information{
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin-top: 50px;
    margin-bottom: 120px;
    justify-content: center;
    
 
}
.information-pic{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 20px;
}
.information-pic img{
    width: 100%;
}
.information-new{
    display: flex;
    margin: auto;
    display: flex;
    justify-content: center;
}
.information-name h3{
    font-size: 35px;
    letter-spacing: 2px;
}
.information-post{
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 2;
}
.information-title-font{
    width: 200px;
}
.information-title-font img{
    width: 100%;
}
.information-time{
    letter-spacing: 3px;
}
.information-time strong{
    color: red;
}
.information-map iframe{
    width: 100%;
}

/* ====================================== */
.calendar {
    width: 100%;
    height: 100%;
    max-height: 480px;
    max-width: 500px;
    background-color:white;
    box-shadow: 0px 0px 10px rgb(207, 207, 207);
    border-radius: 30px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    margin: 0 100px;
}

.calendar-header {
    text-align: center;
    font-size: 25px;
    color: gray;
    padding: 10px;
}

.month-picker {
    border-radius: 10px;
    cursor: pointer;
}

.year-picker {
    display: flex;
    align-items: center;
}

.year-change {
    width: 200px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
}

.calendar-week-day {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
}

.calendar-week-day div {
    display: grid;
    place-items: center;
    color: gray;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    font-size: 25px;
    color: gray;
}

.calendar-days div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
    border-radius: 50%;
}

.calendar-days div:hover span {
    transition: 0.5s ease-in-out;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgb(255, 234, 0);
}

.calendar-days div span {
    position: absolute;
}

.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
    background-color: pink;
    color: white;
    border-radius: 50%;
}

.month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    font-size: 25px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    transform: scale(1.5);
    visibility: hidden;
    cursor: pointer;
}

.month-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all 0.2s ease-in-out;
}
.month-list{
    color: gray;
    font-weight: 700;
    padding: 3px 0;
}
/* =====================================月曆 */
@media screen and (max-width:1024px){
    .about-title{
        width: 100%;
        max-width: 230px;
        position:relative;
        top: -130px;
        left:40%;
        background-color: white;
        text-align: center;
        font-size: 20px;
        color: #b98e51;
        padding: 0 20px;
        
    }
    .about-card:nth-of-type(2){
        display: flex;
        justify-content: flex-end;
    }
    .about-card:nth-of-type(2) .about-txt{
        width: 450px;
        transform: translateX(10%);
    }
    .about-card:nth-of-type(2) .about-pic{
        width: 80%;
        transform: translateX(7%);
    }
    /* ================================== */
    .about-card:nth-of-type(3){
        align-items: center;
        text-align: right;
        justify-content: flex-start;
        padding: 10px;
    }
    .about-card:nth-of-type(3) .about-pic{
        width: 80%;
        transform: translateX(-13%);
    }
    .about-card:nth-of-type(3) .about-txt{
        transform: translateX(-20%);
    }
    .about-card:nth-of-type(3) .about-first{
       position: relative;
       right: 100px;
    }
    /* ==========================第二層設定 */
    .about-card:nth-of-type(4){
        display: flex;
        justify-content: flex-end;
    }
    .about-card:nth-of-type(4) .about-txt{
        width: 450px;
        transform: translateX(10%);
    }
    .about-card:nth-of-type(4) .about-pic{
        width: 80%;
        transform: translateX(7%);
    }
    /* =================================== 第三層*/   .information-total{
        padding: 10px;
    }
    .information{
        flex-direction: column;
        align-items: center;
    }
    .information-pic{
        margin-top: 100px;
    }
    .information-post{
        margin-bottom: 30px;
    }
    .information-time{
        width: 100%;
        max-width: 1200px;
        margin: auto;
    }
    .calendar{
        width: 95%;
        margin: auto;
        padding: 0px;
    }
    .calendar-days div{
        width:30px;
        height: 30px;
        font-size: 16px;
        margin: auto;
    }
    .calendar-day-hover{
        text-align: center;
    }
    .calendar-days div{
    
       
    }
    /* =======================================月曆 */
}
@media screen and (max-width:800px){
    .about-title{
        left: 40%;
    }
}

@media screen and (max-width:768px) {
 
    .about-total{
        width: 100%;
        max-width: 1000px;
        margin: auto;
        padding-top: 50px;
        padding: 0 30px;
    
    }
    .about{
        display: flex;
        flex-direction: column;
        border: 2px solid brown;
        position: relative;
        padding-top: 50px;
        margin-top: 100px;
    }
    .about-card{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: flex;
        margin-bottom: 50px;
        padding: 10px;
    }
    .about-title{
        width: 100%;
        max-width: 230px;
        position:relative;
        top: -80px;
        left:18%;
        background-color: white;
        text-align: center;
        font-size: 20px;
        color: #b98e51;
        padding: 0 20px;
        
    }
    .about-title img{
        width: 100%;
    }
    .about-first{
        width: 100%;
        max-width: 60px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 0px;
        text-align: center;
        color: #b98e51;;
    }
    .about-first h2{
        font-size: 30px;
        padding: 10px;
        font-weight: 100;
        
    }
    .about-first strong{
        font-size: 30px;
        font-family: Comic Sans MS
    
    }
    .about-active{
        width: 100%;
        max-width: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-pic{
        transform: translateX(10%);
        width: 100%;
        margin-bottom: 30px;
    }
    
    .about-pic img{
        width: 100%;
        object-fit: cover;
    }
    .about-txt{
        width: 100%;
        transform: translateX(0%);
        display: flex;
        justify-content: flex-end;
        line-height: 1.5;
        font-size: 5px;
        
    }
    .about-txt p{
        letter-spacing: 5px;
    }
    
    /* ==========================第一層設定 */
    .about-card:nth-of-type(3){
        align-items: center;
        text-align: right;
        justify-content: flex-start;
        padding: 10px;
    }
    .about-card:nth-of-type(3) .about-pic{
        transform: translateX(-13%);
    }
    .about-card:nth-of-type(3) .about-txt{
        transform: translateX(0%);
    }
    .about-card:nth-of-type(3) .about-first{
       position: relative;
       right: 0px;
    }
    /* ==========================第二層設定 */
    .about-card:nth-of-type(4){
        display: flex;
        justify-content: flex-end;
    }
    .about-card:nth-of-type(4) .about-txt{
        transform: translateX(10%);
    }
    .about-card:nth-of-type(4) .about-pic{
        transform: translateX(7%);
    }
    /* =================================== 第三層*/
    .information-total{
        padding: 10px;
    }
    .information{
        flex-direction: column;
        align-items: center;
    }
    .information-pic{
        margin-top: 100px;
    }
    .information-post{
        margin-bottom: 30px;
    }
    .information-time{
        width: 100%;
        max-width: 1200px;
        margin: auto;
    }
    .calendar{
        width: 95%;
        margin: auto;
        padding: 0px;
    }
    .calendar-days div{
        width:30px;
        height: 30px;
        font-size: 16px;
        
   
       
    }
    
}
/* ======================================768 */
@media screen and (max-width:600px){
    .about-title{
        width: 100%;
        max-width: 230px;
        position:relative;
        top: -80px;
        left:25%;
        background-color: white;
        text-align: center;
        font-size: 20px;
        color: #b98e51;
        padding: 0 20px;
        
    }
    .about-card:nth-of-type(2){
        display: flex;
        justify-content: flex-end;
    }
    .about-card:nth-of-type(2) .about-txt{
        width: 300px;
        transform: translateX(10%);
    }
    .about-card:nth-of-type(2) .about-pic{
        width: 80%;
        transform: translateX(7%);
    }
    /* ================================== */
    .about-card:nth-of-type(3){
        align-items: center;
        text-align: right;
        justify-content: flex-start;
        padding: 10px;
    }
    .about-card:nth-of-type(3) .about-pic{
        width: 80%;
        transform: translateX(-13%);
    }
    .about-card:nth-of-type(3) .about-txt{
        width: 200px;
        transform: translateX(-20%);
    }
    .about-card:nth-of-type(3) .about-first{
       position: relative;
       right: 20px;
    }
    /* ==========================第二層設定 */
    .about-card:nth-of-type(4){
        display: flex;
        justify-content: flex-end;
    }
    .about-card:nth-of-type(4) .about-txt{
        width: 300px;
        transform: translateX(10%);
    }
    .about-card:nth-of-type(4) .about-pic{
        width: 80%;
        transform: translateX(7%);
    }
}



